header {
    background-color: lightblue;
    background-size: cover;
    text-align: center;
    padding: 210px 0 210px 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(171, 146, 190);
    display: flex;
    flex-direction: column;
    background-image: url("/images/sailorMoonGangReducedSize.png");
}

h1 {
    padding-top: 100px;
    font-size: 60px;
}

.find-series {
    margin-top: 50px;
}

.search-btn {
    padding: 20px;
    background-color: #d7c8e8;
    border-style: none;
    border-radius: 10px;
    border-color: 1px solid black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #cbbad5;
}

.reset-btn {
    padding: 20px;
    background-color: rgb(197, 167, 193);
    border-style: none;
    border-radius: 10px;
    font-size: 15px;
    border-color: 1px solid black;
    color: white;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: rgb(195, 152, 189);
}

.input-search {
    padding: 20px 80px;
    border-radius: 10px;
    border-style: none;
}

.input-search::placeholder {
    position: absolute;
    right: 100px;
}




main {
    background-color: #badbdb;;
    display: flex;
}

h2 { //main two titles
    padding: 40px 0 40px 0;
    font-size: 25px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.search-container { //contains the title + cards 
    background-color: #badbdb;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 100px; 
}

.search-cards-container { //only contains the cards
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.series-card {
    border: 0.5px solid #98b6b8;
    background-color: rgb(222, 230, 227);
    width: 200px;
    margin: 0 30px 20px 30px;
    padding-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 0.2);
}

.card-title {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 20px 0 20px 0;
    background-color: rgb(160, 197, 197);
    color: rgb(39, 53, 50);
    border-radius: 10px;
}

.series-card:hover{
    transform: scale(1.09);
}

.searched-img {
    width: 150px; 
}




.fav-container {
    background-color: rgb(236, 215, 213);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 1000px;
}

.fav-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.series-fav-card {
    border: 0.5px solid #98b6b8;
    background-color: rgb(231, 228, 232);
    width: 200px;
    margin: 0 30px 20px 20px;
    padding: 30px 20px 0 0; 
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 0.2);
}

// .series-fav-card:hover {
//     transform: scale(1.09); 
// }

.fav-card-title {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 20px 0 20px 0;
    width: 200px; 
    background-color: rgb(201, 187, 206);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.fav-img {
    width: 150px; 
}


.remove-fav-btn {
    font-size: 16px;
    color: #726d83; 
    position: relative;
    top: -217px; 
    left: 171px; 
    cursor: pointer; 
}

.remove-fav-btn:hover {
    color: rgb(169, 136, 168);
    transform: scale(1.1); 
}

.reset-fav-list-btn {
    padding: 10px 20px;
    background-color: #bcabd0;
    border-style: none;
    border-radius: 10px;
    border: 1px solid rgb(139, 135, 141);
    color: white;
    font-size: 15px;
    margin-bottom: 30px;
    cursor: pointer;
}

.reset-fav-list-btn:hover {
    background-color: #cbbad5;
}



footer {
    background-color: rgb(45, 44, 44);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.creator-link {
    text-decoration: none;
    color: rgb(241, 249, 251);
    cursor: pointer;
}

